<!DOCTYPE html>
<html>
<head>
  <title>My Rides</title>
</head>
<body>
  <h1>My Rides</h1>
  <ul>
    <% rides.forEach(ride => { %>
      <li>
        <strong>Source:</strong> <%= ride.source %><br>
        <strong>Destination:</strong> <%= ride.destination %><br>
        <strong>Date:</strong> <%= ride.date %><br>
        <strong>Available Seats:</strong> <%= ride.availableSeats %><br>
      </li>
    <% }); %>
  </ul>
</body>
</html>
