<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="icon" href="icon.png" />
  <style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

  :root,
  body,
  html {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    line-height: 1.2rem;
    background-color: #f1f1f1;
  }
  
  :root::-webkit-scrollbar,
  body::-webkit-scrollbar,
  html::-webkit-scrollbar {
    display: none;
  }
  
  :root ::-moz-selection,
  body ::-moz-selection,
  html ::-moz-selection {
    background-color: #11939a;
    color: #f1f1f1;
    padding: 0;
  }
  
  :root ::selection,
  body ::selection,
  html ::selection {
    background-color: #11939a;
    color: #f1f1f1;
    padding: 0;
  }
  
  .container {
    max-width: 100%;
    padding: 0 3rem;
  }
  
  @media (max-width: 770px) {
    .container {
      padding: 0 1rem;
    }
  }
  
  nav .funnel {
    height: 3.33rem;
    width: 100%;
    background: url("https://imgtr.ee/image/IJqh5o") center center repeat;
    background-size: 5rem;
  }
  
  @media (max-width: 770px) {
    nav .funnel {
      background: #000 !important;
    }
  }
  
  nav .logo {
    position: absolute;
    top: 2rem;
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  @media (max-width: 770px) {
    nav .logo {
      display: none;
    }
  }
  
  nav .logo img {
    background-color: #ffffff;
    padding: 1.5rem;
  }
  
  main {
    margin-top: 100px;
  }
  
  @media (max-width: 770px) {
    main {
      margin-top: 2rem;
    }
  }
  /* .name-label {
      display: inline-block;
      margin-right: 10px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      line-height: 2rem;
    } */
  .name-input{
      display: inline-block;
      border: 1px solid #e5e5e4;
      color: #000;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 1.25rem 1.5rem;
      font-size: 1.2rem;
      background: #fff;
      margin-bottom: 1rem;
      -webkit-transition: all 0.4s ease !important;
      transition: all 0.4s ease !important; 
      margin-right: 43px;
  }
  main .name-input:hover {
      border: 1px solid #d0d0d0;
    }
    
  main .name-input:active,
  main .name-input:focus {
      border: 1px solid #11939a;
    }
  main .signup-card {
    padding: 1rem;
    margin: auto;
    width: 43rem;
  }
  
  @media (max-height: 752px), screen and (min-width: 770px) {
    main .signup-card {
      height: 23rem !important;
    }
  }
  
  @media (min-height: 753px), screen and (max-width: 770px) {
    main .signup-card {
      height: calc(100vh - 100px - 3.33rem);
    }
  }
  
  @media (max-width: 770px) {
    main .signup-card {
      padding: 0;
      width: 100%;
    }
  }
  
  main .signup-card__header,
  main .signup-card h1 {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
  }
  
  /* main .signup-card_label,
  main .signup-card label {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 2rem;
  } */
  
  main .signup-card__input {
    display: inline-block;
    border: 1px solid #e5e5e4;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1.25rem 1.5rem;
    font-size: 1.2rem;
    background: #fff;
    margin-bottom: 1rem;
    -webkit-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
  }
  
  main .signup-card__input:hover {
    border: 1px solid #d0d0d0;
  }
  
  main .signup-card__input:active,
  main .signup-card__input:focus {
    border: 1px solid #11939a;
  }
  
  main .signup-card__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 0;
    background-color: #11939a !important;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1.25rem 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    -webkit-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
  }
  
  main .signup-card__btn img {
    width: 1.5rem;
    margin-right: 0.6rem;
    -webkit-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
  }
  
  main .signup-card__btn:hover {
    background-color: #0c6c71 !important;
  }
  
  main .signup-card__btn:hover img {
    margin-right: 0;
  }
  
  main .signup-card__ask .alink {
    cursor: pointer;
    color: #11939a;
    -webkit-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
  }
  
  main .signup-card__ask .alink:hover {
    color: #0c6c71;
  }
  
  .main_footer {
    position: relative;
    color: #f1f1f1;
    font-weight: 300;
  }
  
  @media screen and (max-width: 770px), screen and (min-height: 752px) {
    .main_footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  
  .main_footer .banner_img {
    background-image: url("https://imgtr.ee/image/IJqCwg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 15rem;
  }
  
  @media screen and (max-width: 770px) {
    .main_footer .banner_img {
      width: 100%;
      background-size: 200vw;
      position: absolute;
      bottom: 10rem;
      z-index: 1;
    }
  }
  
  .main_footer *.footer {
    background-color: #000;
  }
  
  .main_footer *.footer__logo {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -1px;
    padding: 2rem 0;
  }
  
  @media (max-width: 770px) {
    .main_footer *.footer__logo {
      color: #000;
    }
  }
  
  .main_footer *.footer__devider {
    width: 100%;
    border-bottom: solid rgba(241, 241, 241, 0.5) 0.5px;
  }
  
  .main_footer *.footer__content {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.85rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .main_footer *.footer__content .col span:nth-child(1) {
    margin-right: 0.3rem;
  }
  
  .main_footer *.footer__content .col span:nth-last-child(1) {
    margin-left: 0.3rem;
  }</style>
    <link rel="stylesheet" type="text/css" href="create.css"/>
    <link rel="stylesheet" href="../shared/normalize.css" />
    <link rel="stylesheet" href="../shared/additional.css" />
</head>
<body>
  <nav>
      <div class="funnel"></div>
      <div class="logo">
          <img src="logo.png" style="height: 60%;"> <!-- Updated path to logo.png -->
      </div>
  </nav>

  <main class="container">
    <form class="signup-card" action="/register" method="post">
      <h1 class="signup-card__header">
          Sign up
      </h1>
      <input type="text" class="signup-card__input" name="username" placeholder="Username">
      <input type="text" class="signup-card__input" name="email" placeholder="Email">
      <input type="password" class="signup-card__input" name="password" placeholder="Password">
      
      <button class="signup-card__btn" type="submit"><span>Create</span></button>
     
     
    </form>
    <center>

    <span class="signup-card__ask">Already have an Account? <span class="alink"> <a href="/login" >Sign in</a></span></center>
  </main>


  <div class="main_footer">
      <div class="banner_img"></div>
      <div class="container footer">
          <div class="footer__logo">
              Campus-Ride
          </div>
          <div class="footer__devider">
          </div>
          <div class="footer__content">
              <div class="col">
                  © 2021 Campus-Ride Technologies, Inc.
              </div>
              <div class="col">
                  <span>Privacy Policy</span>|<span>Terms of Use</span>
              </div>
          </div>
      </div>
  </div>
</body>
</html>